/*.bg {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #4ce699);
}*/

.origin {
    -fx-pref-width: 700;
    -fx-pref-height: 300;
}

.origin HBox{
    -fx-pref-width: 400;
    -fx-pref-height: 40;
    -fx-font-size: 18;
}

.origin MenuButton {
    -fx-background-radius: 5 5 5 5 ;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-background-color: null;
}

.origin MenuButton:hover {
    -fx-background-radius: 30 30 30 30 ;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-background-color: white;
}

.toggleButton {
    -fx-background-radius: 30 30 30 30 ;
    -fx-background-color: null;
    -fx-pref-width: 120;
    -fx-pref-height: 60;
    -fx-font-weight: bold;
}

.toggleButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
}

.toggleButton:selected {
    -fx-background-color: #FF4444;
}

.orgButton {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: null;
    -fx-pref-width: 120;
    -fx-pref-height: 60;
    -fx-fill: null;
    -fx-font-weight: bold;
}

.orgButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.origin TextArea {
    -fx-pref-height: 260;
    -fx-pref-width: 700;
    -fx-font-size: 22;
    -fx-background-color: #B5FFE9;
    -fx-text-fill: #333333;
}

.translated TextArea {
    -fx-pref-height: 260;
    -fx-pref-width: 400;
    -fx-font-size: 22;
    -fx-background-color: #B5FFE9;
    -fx-text-fill: #333333; /* Màu chữ */
}

.swap {
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-background-color: null;
    -fx-alignment: center;
    -fx-background-radius: 20 20 20 20;
}

.swap:hover{
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
}

.swap VBox FontAwesomeIconView {
    -fx-size: 15.0;
}

.swap VBox{
    -fx-alignment: center;
}

.mode {
    -fx-background-color: null;
    -fx-text-fill: red;
    -fx-background-radius: 15px;
}
.mode:hover {
    -fx-cursor: hand;
    -fx-background-color: white;
}


* {
    -fx-my-menu-color: null;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #455a64;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */
}
.menu-item {
    -fx-background-color: null;
    -fx-background-radius: 30px;
}

.menu-item .label {
    -fx-text-fill: #263238;
}

.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}