.head FontAwesomeIcon {
    -fx-fill: #0d8c79;
    -fx-padding: 10 10 10 10;
}

.head Label {
    -fx-pref-height: 100;
    -fx-font-size: 26;
    -fx-text-fill:#0d8c79;
    -fx-font-weight: bold;
}

.head {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.menu {
    -fx-alignment: top-left;
    -fx-spacing: 24;
}

.menu Button {
    -fx-pref-height: 70;
    -fx-pref-width: 180;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #0d8c79;
    -fx-font-size: 22;
    -fx-font-weight: bold;
    -fx-background-radius: 17 17 17 17;
    -fx-alignment: CENTER_LEFT;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.3), 1, 0.5, 0.5, 5);
}

.menu FontAwesomeIconView {
    -fx-fill: #0d8c79;
}

.menu Button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #0d8c79;
    -fx-effect: dropshadow(three-pass-box, rgba(20,255,0,0.3), 1, 0.5, 0.5, 5);
}

.menu Button:hover FontAwesomeIcon {
    -fx-fill: #FFFFFF;
}

.exit {
    -fx-text-fill: #FF3535;
}

.exit FontAwesomeIconView {
    -fx-fill: #FF3535;
}

.exit:hover{
    -fx-background-color: #FF3535;
    -fx-effect: dropshadow(three-pass-box, rgba(255,80,80,0.3), 1, 0.5, 0.5, 5);
}