/*.bg {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #4ce699);
}*/

.origin {
    -fx-pref-width: 400;
    -fx-pref-height: 300;
}

.origin HBox{
    -fx-pref-width: 400;
    -fx-pref-height: 40;
    -fx-font-size: 18;
}

.origin MenuButton {
    -fx-background-radius: 5 5 5 5 ;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-background-color: null;
}

.origin MenuButton:hover {
    -fx-background-radius: 30 30 30 30 ;
    -fx-pref-width: 200;
    -fx-pref-height: 60;
    -fx-background-color: white;
}

.toggleButton {
    -fx-background-radius: 30 30 30 30 ;
    -fx-background-color: null;
    -fx-pref-width: 120;
    -fx-pref-height: 60;
}

.toggleButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
}

.toggleButton:selected {
    -fx-background-color: #FF4444;
}

.orgButton {
    -fx-background-radius: 30 30 30 30;
    -fx-background-color: null;
    -fx-pref-width: 120;
    -fx-pref-height: 60;
    -fx-fill: null;
}

.orgButton:hover {
    -fx-background-color: #FFFFFF;
    -fx-fill: #FFFFFF;
    -fx-cursor: hand;
}

.origin TextArea {
    -fx-pref-height: 260;
    -fx-pref-width: 400;
    -fx-font-size: 22;
    -fx-background-color: #B5FFE9;
    -fx-text-fill: #333333;
}

.translated TextArea {
    -fx-pref-height: 260;
    -fx-pref-width: 400;
    -fx-font-size: 22;
    -fx-background-color: #B5FFE9;
    -fx-text-fill: #333333; /* Màu chữ */
}

.swap {
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-background-color: null;
    -fx-alignment: center;
    -fx-background-radius: 20 20 20 20;
}

.swap:hover{
    -fx-background-color: #FFFFFF;
    -fx-cursor: hand;
}

.swap VBox FontAwesomeIconView {
    -fx-size: 15.0;
}

.swap VBox{
    -fx-alignment: center;
}

.mode {
    -fx-background-color: null;
    -fx-text-fill: red;
    -fx-background-radius: 15px;
}

.mode MenuItem{
-fx-background-color: null;
-fx-background-radius: 15px;
}

.mode MenuItem:hover{
    -fx-background-color: white;
}

.mode:hover {
    -fx-cursor: hand;
    -fx-background-color: white;
}