.button {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #56DFF1;
}

.button {
    -fx-background-color: transparent;
}

.buttonSection {
    -fx-background-radius: 17 17 17 17;
    -fx-border-radius: 17 17 17 17;
    -fx-border-color: black;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.buttonSection:hover {
    -fx-background-color: #56DFF1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.buttonSection:focused {
    -fx-background-color: #56DFF1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.submit:hover {
    -fx-background-color: pink;
}

.scroll-pane >. viewport {
    -fx-background-color: transparent;
}

.text-area {
    -fx-background-color:  #f7cdd0;
    -fx-background-radius: 17 17 17 17;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
