.bodybg{
    -fx-background-image: url("../Images/background.jpg");
    -fx-background-radius: 3 3 3 3;
}
.bodybg1{
    -fx-background-color: #669999;
    -fx-background-radius: 30;
    -fx-border-width: 10;
    -fx-border-radius: 15;
    -fx-border-color: white;
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: white;
}

.list-cell {
    -fx-text-fill: #000000; /* Màu chữ */
    -fx-font-size: 14px; /* Cỡ chữ */
    -fx-background-color: #F5F5F5; /* Màu nền */
    -fx-font-family: "Time NewRoman", sans-serif;
    -fx-font-weight: bold;
}
.list-cell:selected {
    -fx-background-color: #5885b0; /* Màu nền khi được chọn */
    -fx-text-fill: #FFFFFF; /* Màu chữ khi được chọn */
}
.list-cell:hover {
    -fx-background-color: #DDDDDD; /* Màu nền khi di chuột vào */
    -fx-text-fill: #111111; /* Màu chữ khi được chọn */
}
.list-view {
    -fx-background-color: #F0F0F0;
    -fx-padding: 3px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
}

.text-area {
  -fx-border-radius: 10px; /* Đặt bán kính bo cong */
  -fx-background-radius: 10px; /* Đặt bán kính bo cong cho nền */
  -fx-border-color: #b0a458; /* Đặt màu viền */
  -fx-border-width: 1px; /* Đặt độ dày viền */
   -fx-background-color: red;
}

.text-field {
   -fx-border-radius: 3px; /* Đặt bán kính bo cong */
  -fx-background-radius: 3px; /* Đặt bán kính bo cong cho nền */
  -fx-border-color: black; /* Đặt màu viền */
  -fx-border-width: 1px;
}

.listBtn Button {
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-border-color: #007AFF;
    -fx-pref-height: 40;
    -fx-pref-width: 60;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #333399;
    -fx-font-weight: bold;
}

.listBtn Button:hover {
    -fx-border-color: #007AFF;
    -fx-background-color: #333399;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}
.imageView {
    -fx-background-color: red;
}

.close {
    -fx-pref-height: 40;
    -fx-pref-width: 40;
}
.close FontAwesomeIconView {
    -fx-fill: red;
    -fx-size: 3em;
}

.close:hover {
    -fx-cursor: hand;
    -fx-background-color: red;
}
.close:hover FontAwesomeIconView {
    -fx-fill: white;
}