.bg {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #4ce699);
}
.bg Button {
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.3), 1, 0.5, 0.5, 5);
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 10 10 10 10;
}

.login {
    -fx-background-color: #eccf27;
}

.login:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #ffac00, 15, 0.45, 0, 0);
}

.bg Label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-pref-height: 100;
    -fx-pref-width: 400;
    -fx-font-size: 30;
    -fx-fill: #f55b14;
    -fx-alignment: center;
}

.bg VBox {
    -fx-alignment: center;
}

.enter {
    -fx-background-color:  #0196F3;
    -fx-pref-height: 35;
}

.enter:hover {
    -fx-effect: dropshadow(gaussian, #0034ff, 15, 0.45, 0, 0);
}

.register {
    -fx-background-color: #00FFA2;
    -fx-pref-height: 35;
}

.register:hover {
    -fx-effect: dropshadow(gaussian, #00ffe1, 15, 0.45, 0, 0);

}

.text{}

.text:focus {
     -fx-effect: dropshadow(gaussian, #ff05e1, 15, 0.45, 0, 0);
}

.close {
-fx-pref-height: 40;
-fx-pref-width: 40;
-fx-background-color: red;
-fx-fill: white;
}

.confirmRegist {
-fx-pref-width: 100;
-fx-pref-height: 36;
-fx-background-color: null;
}

.confirmRegist:hover {
-fx-background-color:white;
}