.bg {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #4ce699);
    -fx-fill: null;
}
.button1 {
    -fx-pref-height: 50;
    -fx-pref-width: 230;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.3), 1, 0.5, 0.5, 5);
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 10 10 10 10;
}


.login {
    -fx-background-color: #eccf27;
}

.login:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #ffac00, 15, 0.45, 0, 0);
}

.bg Label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-pref-height: 100;
    -fx-pref-width: 400;
    -fx-font-size: 30;
    -fx-fill: #f55b14;
    -fx-alignment: center;
}

.bg VBox {
    -fx-alignment: center;
}

.enter {
    -fx-background-color:  #0196F3;
    -fx-pref-height: 35;
    -fx-pref-width: 200;
}

.enter:hover {
    -fx-effect: dropshadow(gaussian, #0034ff, 15, 0.45, 0, 0);
}

.register {
    -fx-background-color: #00FFA2;
    -fx-pref-height: 35;
    -fx-pref-width: 200;
}

.register:hover {
    -fx-effect: dropshadow(gaussian, #00ffe1, 15, 0.45, 0, 0);

}
.boxText {
    -fx-background-color: white;
    -fx-background-radius: 10.5;
    -fx-border-color: #00c3ff;
    -fx-border-width: 3.5;
    -fx-border-radius: 9;
}

.boxText FontAwesomeIconView{
    -fx-fill: #00c3ff;
}

.text1{
    -fx-font-size: 14;
    -fx-background-color: transparent;
}


.boxText:hover{
    -fx-effect: dropshadow(gaussian, #004dff, 15, 0.45, 0, 0);
}

.close {
-fx-pref-height: 40;
-fx-pref-width: 40;
-fx-background-color: white;
}

.close FontAwesomeIconView {
-fx-fill: #006aff;
}

.close:hover{
-fx-background-color: #006aff;
-fx-cursor: hand;
}

.close:hover FontAwesomeIconView {
-fx-fill: white;
}

.confirmRegister {
-fx-pref-width: 150;
-fx-pref-height: 36;
-fx-background-color: transparent;
}

.confirmRegister:hover {
-fx-background-color: dodgerblue;
}

.label1 {
    -fx-background-radius: 15px;
    -fx-pref-height: 40;
    -fx-pref-width: 380;
}

.label1:hover {
-fx-background-color: white;
}

.date-picker {
    -fx-font-size: 14px;
    -fx-prompt-text-fill: gray;
}

.date-picker .arrow-button {
    -fx-background-color: white;
}

.date-picker .arrow {
    -fx-background-color: black;
    -fx-shape: "M0,0 L1,0 L0.5,1 Z";
    -fx-fill: #0FFAF0;
}

.date-picker .text-field {
    -fx-background-color: white; /* Màu nền của ô nhập liệu */
    -fx-background-radius: 0; /* Đường cong viền của ô nhập liệu */
    -fx-padding: 3px; /* Kích thước lề của ô nhập liệu */
}
.date-picker .label {
-fx-background-color: null;
-fx-pref-height: 50;
-fx-pref-width: 270;
-fx-font-size: 14;
}

.date-picker .day-cell {
    -fx-font-size: 14px; /* Kích thước chữ trong ô ngày */
}

.date-picker .day-cell:hover {
    -fx-background-color: lightgray; /* Màu nền khi rê chuột qua ô ngày */
    -fx-font-color: dark;
}

.date-picker .button {
-fx-pref-height: 35;
-fx-pref-width: 20;
}

.date-picker .day-cell:selected {
    -fx-background-color: #4CAF50; /* Màu nền khi ô ngày được chọn */
    -fx-text-fill: white; /* Màu chữ khi ô ngày được chọn */
}

.round-bg {
    -fx-background-color: white;
    -fx-background-radius: 0 25 25 0;
}

.image {
    -fx-background-color: white;
    -fx-background-radius: 25 0 0 25;
    -fx-background-image: url('../Images/login.png');
    -fx-background-size: cover;
    -fx-border-width: 5;
    -fx-border-color: white;
    -fx-border-radius: 25 0 0 25;
}

.registerBg {
    -fx-background-radius:30;
}

.text2 {
    -fx-border-color: dodgerblue;
    -fx-border-radius: 9;
}

.errorlog {
    -fx-background-color: red;
    -fx-background-radius: 25;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
