.bg {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #4ce699);
}

.bg Button {
    -fx-pref-height: 80;
    -fx-pref-width: 250;
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(50,50,50,0.3), 1, 0.5, 0.5, 5);
    -fx-background-color: #eccf27;
    -fx-background-radius: 20 20 20 20;
    -fx-padding: 10 10 10 10;
}

.bg Button:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 12, 0, 0, 5);
    -fx-background-color: radial-gradient(focus-angle 0.0deg, focus-distance 0.0% , center 50.0% 50.0%, radius 50.0%, #ebff50 0.0%, #ff9e05 100.0%);
}

.bg Label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-pref-height: 100;
    -fx-pref-width: 400;
    -fx-font-size: 30;
    -fx-fill: #f55b14;
    -fx-alignment: center;
}

.bg VBox {
    -fx-alignment: center;
}

